// 后台框架尺寸
// 菜单宽度
$navMenu: 250px;
$navMenuMin:64px;
$layoutHeight:75px;
$mainColor:#f56c6c;
$selectMenuColor:#f56c6c;
$selectChildrenMenuColor:rgba(245,108,108,0.2);
$menuFontSize:14px;

@mixin webkit($type, $value){
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}:$value;
  #{$type}: $value;
}