.el-menu-item{
  font-size: $menuFontSize;
  padding-left: 50px !important;
  &.is-active{
    background-color: $selectChildrenMenuColor !important;
  }
}
//修改一级菜单样式
.el-submenu{
  &.is-active.is-opened .el-submenu__title{
    background-color: $selectMenuColor !important;
  }
}

.close{
  .el-submenu{
    &.is-opened{
      > .el-submenu__title{
        background-color: $mainColor !important;
      }
    }
  }
}
.el-menu--vertical{
  .el-menu{
    background-color: #344a5f !important;
  }
  .el-menu-item{
    line-height: 56px;
  }
  .el-menu-item:hover{
    background-color: $mainColor !important;
  }
}